<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <body>
        <% if(rooms.length > 0) { %> 
            <% for ( let room of rooms) { %> 
                <form action="/reset" method="POST">

                    <h1>Prisoner:</h1>
                    <h1><%= room.prisoner%></h1>
                    <h1>Warder:</h1>
                    <h1><%= room.warder %></h1>
                    
                    <ul class = "rooms">
                        <h2>Room</h2>
                        <li type="text" name="gameCode"><%=room.code%></li>
                    <br>
            
                        <button>Reset</button>
                    </ul>
                </form>
            <% } %> ¸
        <% } %> 


       

</body>

</html>