
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
    <body>
        <form action="/admin" method="POST">

            <div class = "form-control" >
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your username" >
            </div>
            <br>
            
            <div class = "form-control" >
            <label>Password</label>
            <input type="text" name="password" placeholder="******" >
            </div>
            <br>
            <br>

            <div class = "form-control" >
                <button type="submit" name="submit" value="submit" >
            </div>
        </form>
    </body>
</html>