/* .game-area {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 1px solid;
} */

.playhome {
  padding-top: 2em;
  margin: 0em 0em 0em;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background: url("./imagegamearea/tree.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  object-fit: cover;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 20px;
  text-shadow: 1em;
  color: white;
  font-weight: bold;
  width: 120vw;
}
.game-area {
  left: 60%;
  position: absolute;
  width: 500px;
  height: 500px;

  background-image: url("./imagegamearea/gamearea.png");
}

.content1 {
  margin-left: 10%;
  border: solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(195, 231, 231, 0.87);
  border: none;
  padding: 2em;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 15px;
  color: white;
}

.img {
  width: 10%;
  height: auto;
}

.myButton2 {
  align-self: center;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  width: 100px;
  height: 80px;
}
