.Player {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* background-image: url("/warderlogo.png"); */
}

.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Player img {
  height: 100%;
}
