
.new-waiting {
  height: 50.5vh;
  border: white solid;
  background-color: rgb(223, 241, 226);

.waiting {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.wait {
  color: white;
}
