.player1 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: green;
}

.player2 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: red;
}

.player3 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: blue;
}

/* Text mouse coordinate */
.center {
  text-align: center;
}

.redText {
  color: red;
}
