.charctn {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
}
.new-ctn {
  background: rgb(161, 187, 202);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;

  height: 50.5vh;
  border: solid white;
}

.charheader {
  margin-top: 7vh;
}
