.charctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background: url("../images/blue3.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

.charheader {
  margin-top: 4em;
  display: flex;
  flex-direction: ;
}
