/* ESCAPE PLAN */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  button {
    width: 60% !important;
  }
  input {
    width: calc(60% - 1em) !important;
  }
}

.submittext {
  z-index: 10;
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
}
.welcome {
  line-height: 8%;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 50px;
  text-shadow: #ffffff;
  color: #ffffff;
}

.headctn {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}
.container {
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40em);
}

.center {
  /* width: 366px;
height: 96px;
left: 537px;
top: 319px;

text-transform: uppercase;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 96px;
*/
  text-align: center;

  color: #ffffff;
}

button {
  background-color: rgba(165, 196, 196, 0.87);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.howto:hover {
  -webkit-transform: scale(1.05); /*Grows in size like Angry Birds button*/
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.submittext {
  margin-top: 2em;
  display: flex;
  width: calc(100%-60em);
  font-size: 13px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bolder;
}

.name {
  float: center;
}
